<!-- <div>
  <button mat-button (click)="mydialog()">Dialog</button>
</div> -->

<div class="main-container">
  <div class="sub-container">
    <div class="contents-container">
      <div class="medicine_input">
        <!-- <span>Medicine Name:-</span> -->
        <form class="example-form" [formGroup]="medicine_form">
          <mat-form-field class="form-field">
            <input
              matInput
              type="text"
              formControlName="medicine_name"
              placeholder="Enter the Medicine Name"
            />
          </mat-form-field>
        </form>
        <div class="btn-create">
          <button mat-raised-button (click)="mydialog()">
            Create Medicine Dosage
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
