
.main-container{
    background-color: #000;
    height: 60px;
    display: flex;
    align-items: center;
}
.sub-container{
    width: 1350px;
    max-width: calc(100% - 100px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// .right-section{
//     width: 50%;
// }

.container{
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo{
    width: 154px;
    height: 54px;
}
.logo img{
    width: 154px;
    filter: invert(1);
    cursor: pointer;
}
.list-container{
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0px;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 600;
    font-family: jost, sans-serif;
    line-height: 1.2;
    color: #fff;
}

.left-section{
    // width: 50%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.plus-sign span{
    font-size: 30px;
    font-weight: bolder;
}
.english-lang-sign{
    width: fit-content;
    padding: 4px 7px;
    transition: linear .1s;
    color: #ffff;
    font-weight: 600;
    border: 1px solid #fff;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: .9em;
}
.profile-circle{
    width: 40px;
    height: 40px;
    background: #D40242;
    border-radius: 50%;
}
.profile-circle span{
    position: absolute;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    font-family: jost, sans-serif;
    transform: translate(14px, 10px);
}
.plus-sign{
    display: flex;
    align-items: center;
    color: #fff;
}
.notification-icon span{
    color: #fff;
    height: 30px;
    display: flex;
    align-items: center;
}
.icon-logo{
    height: 54px;
    display: flex;
    align-items: center;

    mat-icon{
        color: #fff;
        cursor: pointer;
    }
}
