<div class="main-container">
    <div class="sub-container">
        <div class="right-section">
            <div class="container">
                <div class="logo">
                    <img src="/assets/image/images.jpg"  routerLink="/" alt="movie-logo">
                </div>
                <div class="list">
                    <ul class="list-container">
                        <li class="items"><a>Movies</a></li>
                        <li class="items"><a>Tv Shows</a></li>
                        <li class="items"><a>People</a></li>
                        <li class="items"><a>More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="left-section">
            <div class="plus-sign">
                <span class="material-symbols-outlined">add</span>
            </div>
            <div class="english-lang-sign">
                <span>en</span>
            </div>
            <div class="notification-icon">
                <span class="material-symbols-outlined">notifications</span>
            </div>
            <div class="profile-circle">
                <span>P</span>
            </div>
        </div>
    </div>
</div>
