<div class="main-container">
  <div class="sub-container">
    <div class="section-1">
      <!-- <h1>MovieApp</h1> -->
      <img src="/assets/image/images.jpg" alt="movie-logo" />
      <p>Sign up for Beta</p>
      <form class="example-form">
        <mat-form-field class="form-field">
          <input type="email" matInput placeholder="Email" />
        </mat-form-field>
      </form>
    </div>

    <div class="section-wrapper">
      <div class="second-section col">
        <div class="items">
          <div class="title">Connect</div>
          <ul>
            <li><a href="">Facebook</a></li>
            <li><a href="">Linkedin</a></li>
            <li><a href="">Twitter</a></li>
            <li><a href="">YouTube</a></li>
            <li><a href="">Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="third-section col">
        <div class="items">
          <div class="title">Help</div>
          <ul>
            <li routerLink="">Terms</li>
            <li routerLink="">Refunds & Cancellation</li>
            <li routerLink="">Disclaimer</li>
            <li routerLink="">Privacy Policy</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-wrapper-1">
      <div class="fourth-section col">
        <div class="items">
          <div class="title">Company</div>
          <ul>
            <li routerLink="">About Us</li>
            <li routerLink="">Contact Us</li>
          </ul>
        </div>
      </div>
      <div class="fifth-section col">
        <div class="items">
          <div class="title">Partner</div>
          <ul>
            <li>Drop us an email at</li>
            <li><a href="mailto:sumit.singh8259@gmail.com">Mail</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="rights-reserved">
    <h2>Copyright © 2023. COMPANY ALL RIGHTS RESERVED</h2>
  </div>
</div>
