.main-container{
    background: #000;
}
.sub-container{
    width: 1232px;
    max-width: calc(100% - 100px);
    margin: 0 auto;
    padding: 40px 0;
    display: flex;

}
.form-field::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #000;
}
.form-field::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 0;
    padding-bottom: 0;
}
.form-field::ng-deep .mat-mdc-form-field-infix {
        min-height: 50px;
}   
.form-field::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height: 0;
} 
.form-field{
    border: 2px solid #fff;
    border-radius: 5px;
}
.form-field::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    height: 50px;
    font-weight: 500;
    font-size: 17px;
}
.form-field::ng-deep .mdc-text-field__input::placeholder {
    color: #fff;
}    
.form-field::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #fff;
}
.section-1 h1{
    color:#fff;

}
.section-1 p{
    color: #fff;
}


// ----------------------------------------p----------------------------------

.section-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    // justify-content: space-between;
    // width: 37%;
}
.first-section{
    width: 50%;
    margin-right: 20px;
    
}
.col{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
// .second-section{
//     width: 25%;
// }
// .third-section{
//     width: 25%;
// }
// .fourth-section{
//     width: 25%;
// }
// .fifth-section{
//     width: 25%;
// }
.items ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.items ul li{
    font: 14px jost,sans-serif;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}
.items ul li a{
    text-decoration: none;
    color: #fff;
}
.first-section h1{
    font: 20px jost, sans-serif;
    font-weight: 500;
    color: var(--header-text);
}
.first-section p{
    color: #fff;
    font-weight: 400;
}
.title{
    font: 20px jost, sans-serif;
    font-weight: 500;
    color: #fff;
}
.section-wrapper-1{
    display: flex;
    // justify-content: space-around;
    flex-direction: row;
    width: 100%;
}
.rights-reserved:before{
    content: "";
    border-top: 1px solid #fff;
    opacity: 1;
    width: 100%;
    display: inline-block;
}
.rights-reserved h2{
    text-align: center;
    font-size: 18px;
    color: #fff;
    height: 32px;
    line-height: 1.2;
    margin: 0 0 16px;
    font-weight: 400;
}
.section-1 img{
    width: 154px;
    filter: invert(1);
}