/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: jost,sans-serif; }

*{
    box-sizing: border-box;
}

.mat-typography {
    font-family: jost, sans-serif !important;
}
// .swiper-slide-prev{
//     width: 100% !important;
// }
// .swiper-slide-next {
//     width: 100% !important;
// }
// .swiper-slide-active{
//     width: 100% !important;
// }


.dosageform .mat-mdc-dialog-container{
    background-color: #f1f1f1;
    position: relative;
    padding: 0;
    overflow: hidden;
    border-radius: 16px;
    width: 1012px;
    max-width: 80vw;
    height: calc(100vh - 48px);

    .mat-mdc-dialog-container .mdc-dialog__surface {
        background-color: #f1f1f1;    
    }    
}